<style>
  .content {
    width: auto;
  }

  .head {
    min-width: 64rem;
    width: auto;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(102, 49, 48, 1);
  }
  .headings {
    margin: 0.5rem 1rem;
    font-family: Roboto;
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
  }
  .business {
    min-width: 60rem;
    margin: auto;
    text-align: center;
    font-family: playfair-display, serif;
    font-weight: normal;
    font-size: 3rem;
    color: rgba(0, 0, 0, 1);
  }
  .capital {
    font-weight: bold;
  }
  .responsive-image-container {
    width: 100%; /* Make the container take the full width */
    display: flex;
    height: 40%;
    min-width: 64rem;
    justify-content: center; /* Center the image within the container */
  }

  .responsive-image {
    width: 100%; /* Make the image take the full width of the container */
    height: 30%; /* Maintain the aspect ratio */
    object-fit: cover;
  }
</style>

<main class="main">
  <div class="content">
    <div class="head">
      <p class="headings">JoinPhytoCommunity</p>
      <p class="headings">VisitPhytoCommunity</p>
    </div>
    <div>
      <app-navbar></app-navbar>

      <router-outlet></router-outlet>
      <h1 class="business">
        <span class="capital">B</span>usiness <span class="capital"> o</span>f
        <span class="capital"> C</span>onsumer
        <span class="capital"> P</span>roducts
      </h1>
      <div class="responsive-image-container">
        <img src="assets/images/slider.png" class="responsive-image" />
      </div>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet />
